.darkmode {
  background-color: black;
  color: white;
}
.lightmode {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    247deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(104, 181, 247, 1) 0%,
    rgba(81, 250, 187, 1) 100%
  );
  color: black;
}
